---
layout:
title:
permalink: /calendar-data/
---

[
{% for event in site.events %}
	{
		"title": "{{event.title}}",
		"start": "{{event.event_date | date:"%FT%T%:z"}}",
		"url": "{{event.url}}",
		"backgroundColor": "{% if event.type == "social" %}#27ae60{% else %}#2e86c1{% endif %}"
	}{%unless forloop.last %},{%endunless%}
{% endfor %}

{% comment %}
Add , if there is one or more talks
{% endcomment %}

{%unless site.talks.size == 0 %},{%endunless%}

{% for talk in site.talks %}
	{
		"title":"{{talk.title}}",
		"start": "{% if talk.talk_date != nil %}{{talk.talk_date | date:"%FT%T%:z"}}{% else %}{{talk.date | date:"%FT14:00:00%:z"}}{% endif %}",
		"url": "{{talk.url}}",
		"backgroundColor": "#d35400"
	}{%unless forloop.last %},{%endunless%}
{% endfor %}
]
