---
layout: default
title: News
navigation: 4
permalink: /news/
---

{% assign activities = site.posts | sort: 'date' | reverse %}
{% for post in activities %}
	{% assign post_id = "post-" | append: forloop.index0 %}
	<div id="{{ post_id }}">
		<h3>{{ post.title }}</h3>
		<span class="badge bg-secondary">{{ post.date | date_to_string }}</span>
		<div>
			{% if post.cover != nil %}
				<div class="cover-pre-container mx-auto">
					<img class="mx-auto d-block" src="{{ site.baseurl }}/images/news/{{ post.cover }}"/>
				</div>
			{% endif %}
			<div class="news-container overflow-hidden">
				{{ post.content }}
			</div>
			{% include media-attachments.html %}
		</div>
		<div class="text-center mt-1">
			<a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}{{ post.url }}">Continue reading</a>
		</div>
	</div>
	<hr />
{% endfor %}
