---
layout: default
title: PGR talks
navigation: 3
permalink: /PGR-talks/
---

{% assign talks = site.talks | sort: 'date' | reverse %}
{% for post in talks %}
	{% assign post_id = "post-" | append: forloop.index0 %}
	<div id="{{ post_id }}">
		<h3>{{ post.title }}</h3>
		<p>
			{% if post.speaker != nil %}
				{{ post.speaker }}
				|
			{% endif %}
			<span class="badge bg-secondary">{{ post.date | date_to_string }}</span>
		</p>
		<div class="talk-container overflow-hidden">
			<div>
				{{ post.content }}
			</div>
			{% include media-attachments.html %}
		</div>
		<div class="text-center mt-1">
			<a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}{{ post.url }}">Continue reading</a>
		</div>
	</div>

	<hr />
{% endfor %}
