---
layout: default
title: News
navigation: 20
feed: /atom.xml
---

{% assign tag = '{' | append: '{' | append: ' site.baseurl ' | append: '}' | append: '}' %}
{% for post in site.categories.news %}
  {% assign post_id = "post-" | append: forloop.index0 %}
  <div id="{{ post_id }}" {% if forloop.index0 < 5 %} class="post" {% else %} class="post collapsed" {% endif %}>
    <div class="header" onclick="document.getElementById('{{ post_id }}').classList.toggle('collapsed')">
      <span class="buttons">
        <span class="fa fa-angle-double-right button-collapse"></span>
        <span class="fa fa-angle-double-down button-expand"></span>
      </span>
      <span class="date">{{ post.date | date_to_string }}</span>
      <span class="title">{{ post.title }}</span>
      <a class="link" href="{{ site.baseurl }}{{ post.url }}" onclick="event.stopPropagation();"><span class="fa fa-link"></span></a>
    </div>
    <div class="body">
      {% if post.cover != nil %}
        <img
          class="post-cover"
          src="{{ post.cover | replace: tag, site.baseurl }}"
        />
      {% endif %}
      <div class="content">
        {{ post.content }}
      </div>
      <div class="clear-floats"/>
      {% include media-attachments.html %}
    </div>
  </div>
{% endfor %}
