<!-- Footer -->
<footer class="text-center text-lg-start bg-cardiff-red text-white pt-2 mt-5">
	<!-- Section: Links  -->
	<section class="">
		<div class="container text-center text-md-start mt-5">
			<!-- Grid row -->
			<div class="row mt-3">
				<!-- Grid column -->
				<div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
					<!-- Content -->
					<h6 class="fw-bold mb-4 h5">
						SIAM-IMA Student Chapter Cardiff
					</h6>
					<p>
						SIAM-IMA Student Chapter Cardiff is a student-run society based out of Cardiff University
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
					<!-- Links -->
					<h6 class="fw-bold mb-4 h5">
						External links
					</h6>
					<p>
						<a href="https://www.siam.org/" class="link-light">SIAM</a>
					</p>
					<p>
						<a href="https://ima.org.uk/" class="link-light">IMA</a>
					</p>
				</div>
				<!-- Grid column -->

				<!-- Grid column -->
				<div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
					<!-- Links -->
					<h6 class="fw-bold mb-4 h5">
						Contact
					</h6>
					<p>
						<a href="mailto:siam-ima@cardiff.ac.uk" class="me-3 link-light" data-toggle="tooltip" title="Send us an email">
							<i id="social-tw" class="h2 bi-envelope-fill"></i> siam-ima@cardiff.ac.uk
						</a>
					</p>
					<p>
						<a href="https://twitter.com/CardiffSIAM_IMA" class="me-3 link-light" data-toggle="tooltip" title="Follow us on Twitter">
							<i id="social-tw" class="h2 bi-twitter"></i> Twitter
						</a>
					</p>
				</div>
				<!-- Grid column -->
			</div>
			<!-- Grid row -->
		</div>
	</section>
	<!-- Section: Links  -->
</footer>
<!-- Footer -->
