<head>
	<meta charset="utf-8"/>
	<meta http-equiv="X-UA-Compatible" content="chrome=1"/>
	<title>SIAM-IMA Student Chapter Cardiff - {{ page.title }}</title>
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}"/>
	<link rel="shortcut icon" type="image/png" href="{{ '/images/Background/cardiff_siam_ima_icon.png' | relative_url }}">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
</head>
