<header>
	<nav class="navbar navbar-expand-lg navbar-dark bg-cardiff-red">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{site.url}}">
				<h1 class="h2 text-wrap">SIAM-IMA Student Chapter Cardiff</h1>
				<p class="text-wrap">Cardiff University</p>
			</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse flex-wrap flex-row-reverse" id="navbarSupportedContent">
				{% include menu.html %}
			</div>
		</div>
	</nav>


	<div class="w-100 bg-light mb-2">
	<div class="container">
		<div class="row align-items-center">
			<div class="col">
				<a href="https://www.siam.org/" target="_blank">
					<img src="{{ site.baseurl }}/images/Background/siam_logo_black_cobranded_horizontal.png" class="nav_logo mx-auto d-block">
				</a>
			</div>
			<div class="col">
				<a href="https://ima.org.uk/" target="_blank">
					<img src="{{ site.baseurl }}/images/Background/imalogo.png" class="nav_logo mx-auto d-block">
				</a>
			</div>
		</div>
	</div>
	</div>

</header>
