<ul>
  {% assign sorted_pages = (site.pages | sort: 'navigation') %}
  {% for p in sorted_pages %}
    {% if p.navigation != nil %}
      <li class="{{ current }}">
        {% if page.url == p.url %}
          <span class="fa fa-angle-double-right"></span>
        {% endif %}
        {% if p.feed != nil %}
          <a href="{{ p.feed | prepend: site.baseurl }}"><span class="fa fa-rss-square"></span></a>
        {% endif %}
        <a href="{{ p.url | prepend: site.baseurl | replace: 'index.html', '' }}">{{ p.title }}</a>
      </li>
    {% endif %}
  {% endfor %}
</ul>
