.Conference-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.Conference_organiser {
	text-align: center;
	margin: 10px;
}

.Conference_organiser img {
	width: 150px;
	height: 150px;
}
