.Conference-container {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.Conference_organiser {
	text-align: center;
	margin: 10px;
}


.speaker-image, .speaker-image-container {
	max-height: 300px;
	max-width: 100%;
}
