<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">

	{% include header.html %}

	<body>

		{% include nav.html %}

		<div class="container">
			<h1 class="display-3 border-bottom mb-3">
				{% if page.feed != nil %}
					<a href="{{ feed | prepend: site.baseurl }}" class="link-secondary"><i class="bi bi-rss-fill"></i></a>
				{% endif %}
				{{ page.title }}
			</h1>
			<div class="mb-5">
				{{ content }}
			</div>

				<div id="latest-news-bar" class="mb-2">
					<h2 class="display-5">Latest news</h2>

					<div class="row row-cols-1 row-cols-md-3 g-4">

						{% assign tag = '{' | append: '{' | append: ' site.baseurl ' | append: '}' | append: '}' %}
						{% for post in site.posts limit: 5 %}
							<div class="col">
								<div class="card h-100">
									<div class="card-body">
										<div class="row">
											{% if post.cover != nil %}
												<div class="col-md-4">
													<img class="img-fluid rounded-start" src="{{ site.baseurl }}/images/news/{{ post.cover }}"/>
												</div>
												<div class="col-md-8">
											{% else %}
												<div class="col-md-12">
											{% endif %}
												<h5 class="card-title">{{ post.title }}</h5>
												<h6 class="card-subtitle mb-2 text-muted">posted {{ post.date | date_to_string }}</h6>
											</div>
										</div>
									</div>
									<div class="card-footer bg-white border-top-0">
										<a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-primary">Go to post</a>
									</div>
								</div>
							</div>

						{% endfor %}
					</div>
				</div>
			</div>

		</div>
	</body>
	{% include footer.html %}
</html>
