---
layout: body
---

<section>

	<p>
		{% if page.location != nil %}
			<b>Time and date</b>: {{ page.talk_date | date: "%-d %B %Y at %l:%M %P" }}
		{% else %}
			<b>Date</b>: {{ page.date | date_to_long_string }}
		{% endif %}
		{% if page.location != nil %}
			| <b>Location</b>: {{page.location}}
		{% endif %}
		{% if page.speaker != nil %}
			| <b>Speaker</b>: {{page.speaker}}
		{% endif %}
	</p>

	{{ content }}

	<div class="clear-floats"/>

</section>

<!-- vim: ts=2:sts=2:sw=2:et:tw=80
-->
